<!DOCTYPE html>
<html>

<head>
    <title>List</title>
</head>

<body>

    <h3>Employee Information</h3>
    
    <table border=1>
        <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Address</td>
        </thead>
        {% for row in rows %}
        <tr>
            <td>{{row["id"]}}</td>
            <td>{{row["name"]}}</td>
            <td>{{row["email"]}}</td>
            <td>{{row["address"]}}</td>
        </tr>
        {% endfor %}
    </table>

    <p>Go back to <a href="/">home</a> page</p>

</body>

</html>